#main-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  gap: 1em;
  padding: 1em;
}

#story-container {
  grid-column: 1/4;
  width: 100%;
}

.story-text {
  margin-bottom: 0.5em;
}

#table-data-container {
  grid-column: 1/3;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#table-data {
  width: max-content;
  height: max-content;
}

#images-logo-history {
  grid-column: 3/4;
  grid-row: 2/3;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}